{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    {% block h1 %}
        <h1>Listes des livres</h1>
    {% endblock %}
    {% block main %}
        <a href="{{url('book_add')}}">Ajouter un livre</a>
    {% endblock %}
{% endblock %}
